{% extends "base.html" %}

{% block body %}

<a href="{{ logout_url }}" style="float:right">Sign out</a>
<h2>Prototypes by {{ user }}</h2>

{% if prototypes %}
  <ol>
    {% for prototype in prototypes %}
      <li>
        <div>
          <a href="/{{ prototype.key.id}}">{% spaceless %}
            <strong>
            {% if prototype.title %}
              {{ prototype.title }}
            {% else %}
              {{ prototype.key.id }}
            {% endif %}
            </strong>
          {% endspaceless %}</a>
        </div>
        <small>
          <div>created {{ prototype.created }}</div>
          <div>modified {{ prototype.modified }}</div>
          {% if prototype.fork_from %}
            <div>forked from <a href=""></a></div>
          {% endif %}
        </small>
      </li>
    {% endfor %}
  </ol>
{% else %}
  <img src="https://memegen.googleplex.com/memeimage?k=640184">
{% endif %}

{% endblock %}
